.home-wrapper {
  padding: 24px 32px;
  height: 100%;
  width: 100%;

  .home-card {
    background-color: var(--app-background-color);
    min-height: 300px;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    padding: 18px 24px;
  }
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}